<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>My World</title>
</head>
<body id="about-bg">
    <header>
        <nav>
            <ul id="navbar-list">
                <li><a href="/home">Home</a></li>
                <li><a href="/about" class="active">About</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/gallery">Gallery</a></li>
            </ul>
        </nav>
    </header>
    <main >
        <h1 id="about-title">Who Am I?</h1>
        <article id="about-me">
            <img id="profile-pic" src="/images/profile.jpg" alt="me">
            <div>
            <p class="description">
                My name is  <span id="myName"> Erik Knoef</span>, I'm 26 years old and I am a photographer and a web developer to be.
                I like to travel, take pictures and hangout with my friends.
            </p>
            <p class="description">
                I have served the Portuguese Special Forces for 5 years, where I've learned how to be different. Even though I am made of bone and meat my mind is made of steel.
            </p>
            <p class="description">
                Today I'll show you what my eyes see!
            </p>

            </div>
            
            

        </article>
    </main>
    
</body>
</html>