<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>My World</title>
  </head>
  <body id="works-bg">
    <header>
      <nav>
        <ul id="navbar-list">
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works" class="active">Works</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 id="works-title">What I do</h1>
      <article id="article1">
        <img src="/images/photo1.jpg" alt="Vasco Da Gama Bridge" id="photo1" />
        <div id="div-article1">
          <h3 id="article1-title">A look to Vasco Da Gama Bridge</h3>
          <p id="article1-description">
            The photo shows the impressive suspension bridge stretching across
            the Tagus River in Lisbon, Portugal. The bridge's white color
            contrasts beautifully with the blue and pink sky and water, and the
            perspective of the shot emphasizes its impressive length and height.
            Overall, it's a stunning and dramatic image that captures the
            majesty of this modern engineering marvel.
          </p>
        </div>
      </article>
      <article id="article2">
        <div id="div-article2">
          <h3 id="article2-title">Barcelona in a portrait</h3>
          <p id="article2-description">
            This photo of Barcelona captures the bustling energy and vibrant
            colors of this iconic Spanish city. In the foreground, we see busy
            streets and buildings, with people walking, cycling, and driving
            through the busy intersections. The
            sky is a bright blue, providing a lovely contrast to the warm tones
            of the buildings and streets. Overall, your photo beautifully
            showcases the unique charm and character of Barcelona, a city that
            is both modern and historic, lively and laid-back.
          </p>
        </div>
        <img src="/images/photo2.jpg" alt="Vasco Da Gama Bridge" id="photo2" />
      </article>
    </main>
  </body>
</html>
